/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
.footer-wrapper{
    text-align:center;
    background:Silver;
}
.headerline-background{
    background: #f7ca1a;
}
.site-background{
background-image: url(/themes/task9theme/lines.jpg);
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 100%;
background-attachment: fixed;
background-size: 1600px 900px;
}